@import './helper/variables.scss';
@import './helper/settings.scss';


html, body{
    background: url('./../images/pattern-bg.png');
}

body, .container{
    width: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
}
.top-side{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    background: url('./../images/pattern-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    color: #fff;
    margin: 30px auto;
}
.form{
    display: inline;
    min-width: 300px;
    width: 40vw;
    margin: auto;
    margin-bottom: 0;
    height: 50px;
    background-color: #fff;
    position: relative;
    border-radius: 15px ;
}
.ip-input{
    min-width: 250px;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    height: 50px;
    margin: 0;
    margin-right: 50px;
    padding-left: 15px;
    &::placeholder{
        color: $dark-gray;
    }
}
.search-button{
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 0px 15px 15px 0px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    &:hover, &:active{
        background-color: $very-dark-gray;
    }
}
.info-cards{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0px auto 0px auto;
    border-radius: 15px;
    width: fit-content;
    transform: translateY(50%);
    z-index: 100;

}
.info{
    width: 250px;
    min-height: 100px;
    z-index: 120;
    &:first-child{
        border-left:none ;
    }
}
.info-title{
    text-align: center;
    color: $dark-gray;
    font-size: 12px;
    font-weight: 700;
    margin: 20px auto;
    margin-bottom: 12px;
}
.info-text{
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: $very-dark-gray;
    margin: 12px auto 20px auto;
}

@media(min-width: 480px){
    .info-cards{
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
    }
    .info{
        border-image: linear-gradient(to bottom, #fff 25%,$dark-gray 25%,$dark-gray 75%,#fff 75%);
        border-image-slice: 1;
        border-left: 1px solid $dark-gray;
        height: 100%;
    &:nth-child(3n){
        border-left: none;
    }
    }
    .info-title{
        text-align: left;
        margin: 25px;
    }
}
@media(min-width: 1010px){
    .info-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .info:nth-child(3n){
        border-left: 1px solid $dark-gray;
    }
}